<%= form_with(model: reader, local: true) do |form| %>
  <% if reader.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reader.errors.count, "error") %> prohibited this reader from being saved:</h2>

      <ul>
        <% reader.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :sname %>
    <%= form.text_field :sname %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number %>
  </div>
    <%= form.collection_check_boxes :book_ids, Book.all, :id, :title %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
