<p id="notice"><%= notice %></p>
<div class="jumbotron">
  <h1>Readers</h1>

  <table class="table table-light table-sm">
    <thead>
    <tr>
      <th>Name</th>
      <th>Sname</th>
      <th>Number</th>
      <th>Wypozyczyl</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @readers.each do |reader| %>
      <tr>
        <td><%= reader.name %></td>
        <td><%= reader.sname %></td>
        <td><%= reader.number %></td>
        <td>
          <% reader.books.each do |b| %>
            <%= b.title %><br>
          <% end %>
        </td>
        <td><%= link_to 'Wyswietl', reader, class: "btn btn-primary btn-sm col-sm-5"  %></td>
        <td><%= link_to 'Edytuj', edit_reader_path(reader), class: "btn btn-primary btn-sm col-sm-5"  %></td>
        <td><%= link_to 'Usun', reader, method: :delete, data: { confirm: 'Jestes pewien?' }, class: "btn btn-primary btn-sm col-sm-5"  %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Reader', new_reader_path, class: "btn btn-primary btn-sm col-sm-2" %>
</div>